
<style>
  
  footer {
    background: #111;
    padding: 30px 23px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  footer span a {
    color: #F7941D;
    text-decoration: none;
  }
  footer span a:hover {
    text-decoration: underline;
  }
</style>
<footer>
    <span>Created By <a href="#about">GarbHaven Team </a> © 2024 all rights reserved.</span>
  </footer>